<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🐰소원을말해봐</title>
    <meta property="og:title" content="🐰소원을말해봐"/>
    <meta property="og:description" content="다가오는 토끼의 해! 달 토끼에게 소원을 빌어보자🐰"/>
    <meta property="og:image"
          content="#"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/wishLook.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script defer src="/static/js/wishLook.js"></script>
</head>
<body>
    <div class="header">
        <div class="mytitle">
            <h1>소원을 말해봐</h1>
        </div>
        <div class="main-image">
            <h1>메인 이미지 자리</h1>
        </div>
        <div class="mymenu">
            <ul>
                <li><a href="/fortunetelling">신년 운세</a></li>
                <li><a href="/wish/regist">소원 빌기</a></li>
                <li><a href="/wish/look">소원 보기</a></li>
            </ul>
        </div>
    </div>

    <!-- 소원 보기 페이지 -->
    <div class="wishLookPage">
        <h1>소원 보기 페이지입니다.</h1>
    </div>

</body>
</html>
