<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🐰소원을말해봐</title>
    <meta property="og:title" content="🐰소원을말해봐"/>
    <meta property="og:description" content="다가오는 토끼의 해! 달 토끼에게 소원을 빌어보자🐰"/>
    <meta property="og:image"
          content="https://img.freepik.com/free-vector/flat-mid-autumn-festival-background_52683-89386.[…]2d507c5c441de7d0b803c9fc2467c1fdef79d0a76280a2611423a42fa624b"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/wishLook.css" rel="stylesheet">
    <link rel="icon" href="https://blog.kakaocdn.net/dn/Azuyp/btrWq9GKEEv/hlQrRO0KfeVHj0Wvv0eckk/favicon.ico?attach=1&knm=tfile.ico" type="image/x-icon" sizes="16x16">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script defer src="/static/js/wishLook.js"></script>
</head>
<body>
<div class="header">
    <div class="main-image"></div>
    <div class="mymenu">
        <ul>
            <li><a href="/fortunetelling-page">| 신년 운세 |</a></li>
            <li><a href="/wish-regist-page">| 소원 빌기 |</a></li>
            <li><a href="/wish-look-page">| 소원 보기 |</a></li>
        </ul>
    </div>
</div>

<!-- 소원 보기 페이지 -->
<div class="wishLookPage">
    <div class="back-image">
        <div class="wish-list-all">
            <ul class="list-group list-group-flush" id="wishlist">
            </ul>
        </div>
    </div>
</div>

</body>
</html>
